<!-- Side bar-->
<div id="sidebar" class="h-screen w-16 menu bg-white text-white px-4 flex items-center nunito static fixed shadow">
  <ul class="list-reset ">
    <li class="my-2 md:my-0">
      <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400">
        <i class="fas fa-home fa-fw mr-3"></i>
        <span class="w-full inline-block pb-1 md:pb-0 text-sm">Accueil</span>
      </a>
    </li>
    <li class="my-2 md:my-0 ">
      <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400">
        <i class="fas fa-tasks fa-fw mr-3"></i>
        <span class="w-full inline-block pb-1 md:pb-0 text-sm">Tasks</span>
      </a>
    </li>
    <li class="my-2 md:my-0">
      <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400">
        <i class="fa fa-envelope fa-fw mr-3"></i>
        <span class="w-full inline-block pb-1 md:pb-0 text-sm">Messages</span>
      </a>
    </li>
    <li class="my-2 md:my-0">
      <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400">
        <i class="fas fa-chart-area fa-fw mr-3 text-indigo-400"></i>
        <span class="w-full inline-block pb-1 md:pb-0 text-sm">Analytics</span>
      </a>
    </li>
    <li class="my-2 md:my-0">
      <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400">
        <i class="fa fa-wallet fa-fw mr-3"></i>
        <span class="w-full inline-block pb-1 md:pb-0 text-sm">Payments</span>
      </a>
    </li>
  </ul>
</div>

<div class="flex flex-row flex-wrap flex-1 flex-grow content-start pl-16">
  <div class="h-40 lg:h-20 w-full flex flex-wrap">
    <nav id="header1" class="bg-gray-100 w-auto flex-1 border-b-1 border-gray-300 order-1 lg:order-2">
      <div class="flex h-full justify-between items-center">
        <!--Menu-->
        <div class="flex relative inline-block pr-6 ml-4">
          <div class="relative text-sm">
            <button id="userButton" class="flex items-center focus:outline-none mr-3">
              <span class="md:inline-block">Bonjour, FC Démo </span>
            </button>
          </div>
        </div>
        <!-- / Menu -->
      </div>
    </nav>
  </div>

  <!--Dash Content -->
  <div id="dash-content" class="bg-gray-200 py-6 lg:py-0 w-full lg:max-w-sm flex flex-wrap content-start">
    <div class="w-1/2 lg:w-full">
      <div class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6">
        <div class="flex flex-col items-center">
          <div class="flex-shrink">
            <div class="rounded-full p-3 bg-gray-300"><i class="fa fa-trophy fa-fw fa-inverse text-indigo-500"></i></div>
          </div>
          <div class="flex-1 text-center">
            <h3 class="font-bold text-3xl">
              <%= team_ranking = team_ranking(team: @team, ranking: @ranking) %>
            </h3>
            <h5 class="font-bold text-gray-500">Classement</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="w-1/2 lg:w-full">
      <div class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6">
        <div class="flex flex-col items-center">
          <div class="flex-shrink">
            <div class="rounded-full p-3 bg-gray-300"><i class="fas fa-chart-line fa-fw fa-inverse text-indigo-500"></i></div>
          </div>
          <div class="flex-1 text-center">
            <h3 class="font-bold text-3xl">
              <% @last_team_games.each do |team_game| %>
                <% case team_game.result %>
                <% when "win" %>
                  <span class="text-green-500"> V </span>
                <% when "draw" %>
                  <span class="text-orange-500"> N </span>
                <% when "loss" %>
                  <span class="text-red-500"> D </span>
                <% end %>
              <% end %>
            </h3>
            <h5 class="font-bold text-gray-500">Tendance</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="w-1/2 lg:w-full">
      <div class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6">
        <div class="flex flex-col items-center">
          <div class="flex-shrink">
            <div class="rounded-full p-3 bg-gray-300"><i class="fas fa-bolt fa-fw fa-inverse text-indigo-500"></i></div>
          </div>
          <div class="flex-1 text-center">
            <h3 class="font-bold text-xl"><%= last_game_scoreboard(team: @team) %></h3>
            <h5 class="font-bold text-gray-500">Dernier résultat</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Graph Content -->
  <div id="main-content" class="w-full flex-1">
    <div class="flex flex-1 flex-wrap">

      <div class="w-full xl:w-2/3 p-6 xl:max-w-6xl">

        <!--"Container" for the graphs"-->
        <div class="max-w-full lg:max-w-3xl xl:max-w-5xl">

          <!--Graph Card-->
          <div class="border-b p-3">
            <h5 class="font-bold text-black">Prochain Match</h5>
          </div>
          <div class="m-auto mt-4 max-w-xl rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2"><%= @next_opponent.name %></div>
              <div class="mb-4">
                <p class="text-gray-700 text-base">
                Le <%= @next_opponent.acronym %> a marqué un total de <%= @next_opponent.total_goals_for %> buts cette saison
                </p>
                <div class="bg-white border rounded shadow">
                  <div>
                    <canvas id="chart2"></canvas>
                    <div data-controller="charts--action-type-goals" data-charts--action-type-goals-canvas-id="chart2" data-charts--action-type-goals-params="team=<%= @next_opponent.acronym %>">
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-2">
                <p class="text-gray-700 text-base">
                Le <%= @next_opponent.acronym %> a encaissé un total de <%= @next_opponent.total_goals_against %> buts cette saison
                </p>
                <div class="bg-white border rounded shadow">
                  <div>
                    <canvas id="next_opponent_defense"></canvas>
                    <div data-controller="charts--action-type-goals" data-charts--action-type-goals-canvas-id="next_opponent_defense" data-charts--action-type-goals-params="team=<%= @next_opponent.acronym %>">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-6 pt-4 pb-2">
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">6ème</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">D N V D</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">2ème Attaque</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">8ème Défense</span>
            </div>
          </div>
          <!--/Graph Card-->

          <!--Table Card-->
          <div class="p-3">
            <div class="border-b p-3">
              <h5 class="font-bold text-black">Classement</h5>
            </div>
            <div class="p-5">
              <table class="w-full p-5 text-gray-700">
                <thead>
                  <tr>
                    <th class="text-left text-blue-900">Équipe</th>
                    <th class="text-blue-900">Points</th>
                    <th class="text-blue-900">Matchs</th>
                    <th class="text-blue-900">Diff</th>
                  </tr>
                </thead>

                <tbody>
                  <% @ranking.each.with_index do |(team, details), index| %>
                    <% if team == @team.acronym %>
                      <tr class="font-bold">
                        <td class="text-left"> <%= details[:name] %> </td>
                        <td class="text-center"> <%= details[:points] %> </td>
                        <td class="text-center"> <%= details[:games] %> </td>
                        <td class="text-center"> <%= details[:goal_average] %></td>
                    <% else %>
                      <tr class="<%= class_in_ranking(index: index) %>">
                        <td class="text-left"> <%= details[:name] %> </td>
                        <td class="text-center"> <%= details[:points] %> </td>
                        <td class="text-center"> <%= details[:games] %> </td>
                        <td class="text-center"> <%= details[:goal_average] %></td>
                    <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <!--/table Card-->

        </div>

      </div>

      <div class="w-full xl:w-1/3 p-6 xl:max-w-4xl border-l-1 border-gray-300">

        <!--"Container" for the graphs"-->
        <div class="max-w-sm lg:max-w-3xl xl:max-w-5xl">

          <!--Graph Card-->

          <div class="border-b">
            <h5 class="font-bold text-black">Mon attaque</h5>
            <canvas id="chart3"></canvas>
            <div data-controller="charts--action-type-goals" data-charts--action-type-goals-canvas-id="chart3" data-charts--action-type-goals-params="team=NMF" data-charts--action-type-goals-chart-type="doughnut">
            </div>
          </div>
          <!--/Graph Card-->

          <!--Graph Card-->
          <div class="border-b mt-4">
            <h5 class="font-bold text-black">Ma défense</h5>
            <canvas id="myDefense"></canvas>
            <div data-controller="charts--action-type-goals" data-charts--action-type-goals-canvas-id="myDefense" data-charts--action-type-goals-params="team=NMF" data-charts--action-type-goals-chart-type="doughnut">
            </div>
          </div>

          <!--/Graph Card-->
        </div>
      </div>
    </div>
  </div>
</div>
