<!DOCTYPE html>
<html>
  <head>
    <title>Futsal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= render "javascript" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
